.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.75rem;
  flex-wrap: wrap;
  border-bottom: 1px solid #e5e7eb;
  font-family: "Inter", sans-serif;
  height: 42px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.06);
}

.logo img {
  height: 1.2rem;
  margin: 0.25rem 0 0 0.25rem;
}

.services {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
  font-size: 0.6rem;
  color: #6b7280;
}

.registers {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
  font-size: 0.6rem;
  margin-right: 1rem;
  height: 100%;
}

button {
  background-color: #2563eb;
  color: white;
  border: none;
  outline: none;
  font-size: 0.6rem;
  padding: 0.25rem;
  border-radius: 4px;
}

li {
  list-style: none;
}
