@import "tailwindcss";

.nav-box {
  @apply flex flex-col items-center gap-4 px-4 pt-12 text-sm;
}

.form-box {
  @apply flex flex-col items-center gap-4 px-4  pt-12 text-sm;
}

.form-input {
  @apply rounded h-8 w-70 px-2;
}

.registration {
  margin: auto auto;
  margin-top: 2rem;
  width: 25rem;
  border: 1px solid #e5e7eb;
  background-color: #f9fafb;
  font-family: "Inter", sans-serif;
  box-shadow: 0px 8px 32px rgba(0, 0, 0, 0.08);
  border-radius: 0.5rem;
}

.registration input {
  border: 1px solid #e5e7eb;
  margin-top: 6px;
}

.registration input:focus {
  outline: 1px solid #2563eb;
  box-shadow: 0 0 0 1px rgba(37, 99, 235, 0.1);
}

.registration label {
  color: #374151;
  font-size: 13px;
}

* {
  font-family: "Inter", sans-serif;
}
